tests/fixtures/sample_honor_ptp_an00_original.png filter=lfs diff=lfs merge=lfs -text
tests/fixtures/sample_honor_ptp_an00_thumbnail.png filter=lfs diff=lfs merge=lfs -text
tests/fixtures/sample_nikon_z63.JPG filter=lfs diff=lfs merge=lfs -text
